<section class="container">
  <p><%= t("urls.show.redirecting") %></p>
  <div class="container">
    <%= t("urls.show.long_url") %>
    <a href="<%= @url.long_url %>"><%= @url.long_url %></a>
   </div>
   <div class="container">
     <%= t("urls.show.short_url") %>
     <a href="/urls/redirect/<%= @url.short_code %>">
      <%= request.base_url%>/<%= @url.short_code %>
    </a>
  </div>
  <div class="container">
    <%= link_to t("urls.show.new"), new_url_path %>
  </div>
</section>
